{% block datalea_generator_variable_config_widget %}
{% spaceless %}
    <div class="row mb10">
        <div class="span3">{{ form_row(form.name) }}</div>
        <div class="span8">{{ form_row(form.fakerMethod) }}</div>
    </div>
    <div class="row">
        <div class="span3">{{ form_row(form.fakerMethodArg1) }}</div>
        <div class="span3">{{ form_row(form.fakerMethodArg2) }}</div>
        <div class="span3">{{ form_row(form.fakerMethodArg3) }}</div>
    </div>
{% endspaceless %}
{% endblock datalea_generator_variable_config_widget %}

{% block datalea_generator_column_config_widget %}
{% spaceless %}
    <div class="row">   
        <div class="span2">{{ form_row(form.name) }}</div>
        <div class="span4">{{ form_row(form.value) }}</div>
        <div class="span4">{{ form_row(form.convertMethod) }}</div>
        <div class="span1">{{ form_row(form.unique) }}</div>
    </div>
{% endspaceless %}
{% endblock datalea_generator_column_config_widget %}

{% macro helpPopover(title, text, placement = 'top', trigger = 'hover') %}
<a class=" help-popover" rel="popover" href="#" data-original-title="{{ title| trans }}" data-content="{{ text| trans }}" data-trigger="{{ trigger }}" data-placement="{{ placement }}">
    <i class="icon-info-sign"></i>
</a>
{% endmacro %}
