{% extends "base.html.twig" %}

{% set currentPage = 'homepage' %}

{% block body %}
<div class="page-header">
    <h2>{{ 'Datalea - a random test data generator' }}</h2>
    <p>{{ 'A highly customizable random data generator to dump test data in various output format.' }}<br/>{{ 'Based on Francois Zaninotto' }} <a href="https://github.com/fzaninotto/Faker" target="_blank">{{ 'Faker Library' }}</a></p>
    <a href="{{ path('datalea_generate') }}" title="Try Datalea generator" class="btn btn-large btn-primary">{{ 'Try it' }}</a>
    <a href="https://github.com/spyrit/datalea" class="btn btn-large" ><i class="icon-github icon-large"></i> {{ 'Fork me on Github' | trans }}</a>
</div>

{% endblock %}
