{% extends "base.html.twig" %}

{% set currentPage = 'tutorial' %}
{% set bodyId = currentPage %}

{% block header_content %}
<div class="row">
    
</div>
{% endblock header_content %}

{% block main_body %}

<section class="section">
        <div class="container">
            <div class="row">

                <div class="span12">
                    <h1>{{ 'tutorial.title' | trans }}</h1>
                    
                    <h2>{{ 'tutorial.subtitle1' | trans }}</h2>
                    <p></p>
                    <p></p>
                    
                    <ol>
                        <li>
                            <p class="bold">{{ 'tutorial.steps.1.text' | trans }}</p>
                            <ul>
                                <li>{{ 'tutorial.steps.1.language' | trans }}</li>
                                <li>{{ 'tutorial.steps.1.encode' | trans }}</li>
                                <li>{{ 'tutorial.steps.1.variables' | trans }}</li>
                            </ul>
                            
                            {# <p>[screenshot]</p> #}
                        </li>
                        <li>
                            <p class="bold">{{ 'tutorial.steps.2.text' | trans }}</p>
                            <ul>
                                <li>{{ 'tutorial.steps.2.column_firstname' | trans }}</li>
                                <li>{{ 'tutorial.steps.2.column_lastname' | trans }}</li>
                                <li>{{ 'tutorial.steps.2.column_email' | trans }}</li>
                                <li>{{ 'tutorial.steps.2.column_login' | trans }}</li>
                                <li>{{ 'tutorial.steps.2.column_login_password' | trans }}</li>
                            </ul>
                            
                            <p>{{ 'tutorial.steps.2.note' | trans }}</p>
                            
                            {# <p>[screenshot]</p> #}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
                    
    <section class="section gray">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="well mb0">
                        <p><i class="icon-lightbulb"></i> {{ 'tutorial.note1' | trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
                    
    <section class="section">
        <div class="container">
            <div class="row">

                <div class="span12">
                    
                    <p>{{ 'tutorial.text3' | trans }}</p>
                    <p>
                    {# [screenshot] #}
                    </p>    
                    
                    <p>{{ 'tutorial.text4' | trans }}</p>
                    
                </div>

            </div>
        </div>
</section>

{% endblock %}
